/practica2022/nbproject/private/
/practica2022/dist/
/practica2022/build/
/foca/nbproject/private/
/EjemploPersonaAlumnoProfessor/nbproject/private/
/peronal equipo/nbproject/private/
/Main/nbproject/private/
/Main/build/
/Main/dist/
/Poligon/nbproject/private/
/PruebasEnum/nbproject/private/
/clash royale/nbproject/private/
/clash royale/build/
/clash royale/dist/
/TeoriaExceptions/nbproject/private/
/TeoriaExceptions/build/
/TeoriaExceptions/dist/
/List/nbproject/private/
/List/build/
/List/dist/
/CombatePokemon/nbproject/private/
/CombatePokemon/build/
/CombatePokemon/dist/
/MenuApp/nbproject/private/
/MenuApp/build/
/MenuApp/dist/
/PatrullaCanina/nbproject/private/
/PatrullaCanina/build/
/PatrullaCanina/dist/
/Cromos/nbproject/private/
/Cromos/build/
/Cromos/dist/
