/ExamenArrays/nbproject/private/
/ExamenArrays/build/
/ExamenArrays/dist/
/TeoriaBidimensional/nbproject/private/
/TeoriaBidimensional/dist/
/TeoriaBidimensional/build/
/Arraysv2_ex1/nbproject/private/
/Arraysv2_ex1/build/
/Arraysv2_ex1/dist/
/Pokemon/nbproject/private/
/Pokemon/build/
/Pokemon/dist/
/CodiUf4/CodiUf4/build/
/CodiUf4/CodiUf4/dist/
/CodiUf4/CodiUf4/nbproject/private/
